server:
  port: ${PORT}


spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USER}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  data:
    mongodb:
      url: ${MONGO_URL}


jwt:
  secret: ${JWT_SECRET}
  access_time: ${JWT_ACCESS_TIME}
  refresh_time: ${JWT_REFRESH_TIME}
